/* * {
    outline: 1px solid red;
} */

/* Site Navigation */

.navmenu {
  font-family: "Roboto", Arial, sans-serif;
  width: 1110px;
  margin: auto;
  padding: 33px 0px 30px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.logo:first-letter {
  color: #1abc9c;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
}

.logo {
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0px;
  padding: 0px;
}

.menu {
  float: right;
  margin: 0px;
  padding: 0px;
}

.menu li {
  list-style: none;
  float: left;
}

.menu-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

.menu li:not(:last-child) {
  margin-right: 34px;
}

.menu-link:hover {
  color: #1abc9c;
}

/* Header "Slider" */

.slider {
  position: relative;
  height: 600px;
  background: #323232;
}

.slides img {
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
}

.slides::after {
  position: relative;
  bottom: 600px;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.52);
}

.slides-text {
  position: absolute;
  bottom: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 106px;
}

.slides-text h2 {
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.slides-text p {
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.slider-button {
  width: 106px;
  height: 106px;
  border: none;
  position: absolute;
  background-color: rgba(26, 188, 156, 0.65);
  top: 247px;
  z-index: 10;
}

.prev {
  left: 50%;
  transform: translateX(-555px);
}

.next {
  right: 50%;
  transform: translateX(555px);
}

.slider-button:hover {
  background-color: #1abc9c;
  cursor: pointer;
}

/* Style for "New Collection" */

main {
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.catalogue {
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
}

h2 {
  color: #515151;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.fp {
  margin: 0px 0px 126px;
  position: relative;
}

.fp::after {
  display: block;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  content: "";
  background-color: #1abc9c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
}

/* Style for "CATALOGUE" */

.catalogue-products {
  position: relative;
  height: 322px;
  margin-right: 0px;
}

/* Style for "PRODUCTS CARD" */

.catalogue-item-overlay {
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
  width: 255px;
  height: 282px;
  left: 0px;
  border: 10px solid #ffffff;
  background-color: #000000;
}

.catalogue-item-buttons {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 87px;
  transform: translateX(-50%);
  width: 164px;
  height: 107px;
}

.item-button {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}

.item-button:hover {
  background-color: #1abc9c;
  border: 0px;
}

.busket {
  position: absolute;
  width: 164px;
  left: 0px;
  bottom: 0px;
  background-color: #323232;
  background-image: url("../img/icons/basket.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
}

.busket span {
  padding-left: 45px;
}

.icon1 {
  position: absolute;
  left: 0px;
  background: url("../img/icons/heart.png") no-repeat center;
}

.icon2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/icons/arrows.png") no-repeat center;
}

.icon3 {
  position: absolute;
  right: 0px;
  background: url("../img/icons/clock.png") no-repeat center;
}

.catalogue-item {
  position: relative;
  float: left;
  background-color: #e9f0fd;
  margin-right: 25px;
}
.catalogue-item:last-child {
  margin-right: 0px;
  right: 0px;
}

.catalogue-item-card {
  width: 255px;
  height: 322px;
  background-color: #e9f0fd;
}

.catalogue-item img {
  display: block;
  margin: 0 auto;
}

p {
  font-family: "Roboto", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin: 0;
}

.title {
  float: left;
  padding-left: 12px;
}

.price {
  text-align: center;
  float: right;
  width: 54px;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.44);
}

.box {
  width: 255px;
  height: 40px;
  background-color: #323232;
}

.catalogue-item:hover .box {
  background-color: #1abc9c;
}

.catalogue-item:hover .catalogue-item-overlay {
  opacity: 0.55;
}

.catalogue-item:hover .catalogue-item-buttons {
  opacity: 1;
}

/* Style for "Footer" */

.copyright {
  padding: 33px 0px;
  background-color: #323232;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -0.32px;
  text-transform: none;
}

.copyright span {
  color: #46bfa9;
}
