img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: Montserrat;
  font-weight: 700;
  min-width: 320px;
}

.container {
  color: #ffffff;
  text-align: center;
}

.site-header {
  background: url(../img/Back_Mobile.jpg) no-repeat center;
  background-size: cover;
  min-height: 540px;
}

.header-content {
  padding-top: 20px;
}

.signup-list {
  width: 152px;
  display: flex;
  justify-content: space-between;
}

button {
  outline: none;
}

.button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  height: 36px;
}

.login-button {
  border: none;
  padding: 0;
}

.signin-button {
  width: 90px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.logo {
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.header-content h3 {
  font-size: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.header-content p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.find-button {
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ff4e50;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* Sectione Style */

.main-content {
  margin: 0 auto;
  text-align: center;
  color: #333333;
}

.partner h3 {
  margin: 0px 0px 15px;
  font-size: 22px;
  letter-spacing: -0.4px;
}

.partner-item {
  margin: 0 auto;
  width: 235px;
  position: relative;
}

.icon::after {
  width: 33px;
  height: 33px;
  position: absolute;
  right: 52px;
  top: 85px;
  content: '';
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.partner-item img {
  margin-bottom: 20px;
}

.icon-tv::after {
  background: #ff4e50 url(../img/icons/Shape_128.png) no-repeat center;
}

.icon-glass::after {
  background: #ffa507 url(../img/icons/Shape_155.png) no-repeat center;
}

.icon-cup::after {
  background: #1cd7ad url(../img/icons/Shape_153.png) no-repeat center;
}

.icon-plane::after {
  background: #4e73db url(../img/icons/Shape_170.png) no-repeat center;
}

.partner-item h4 {
  margin: 0px 0px 15px;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.partner-item p {
  margin: 0;
  color: #666666;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.partner-button {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  background-color: #ffffff;
  color: #ff4e50;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-height: 767px) {
  .signup-list {
    margin: 0 auto;
    margin-bottom: 110px;
  }
  .signup-block {
    margin-bottom: 23px;
  }
  .header-content h3 {
    margin: 0px 0px 13px;
  }
  .header-content p {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 14px;
  }
  .main-content {
    padding: 67px 0px 57px;
  }

  .partner-list {
    margin: 0;
    margin-bottom: 29px;
  }
  .partner-item {
    margin-bottom: 25px;
  }
  .partner-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    padding: 67px 0px 57px;
  }
  .header-content {
    padding-top: 37px;
  }
  .header-content h3 {
    font-size: 51px;
    line-height: 65px;
    margin: 0px 0px 21px;
  }
  .header-content p {
    width: 420px;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
  .site-header {
    background: url(../img/Back_Tablet.jpg) no-repeat center;
    background-size: cover;
    min-height: 700px;
  }
  .signup-list {
    order: 1;
    margin: 0;
  }
  .signup-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 140px;
    width: 670PX;
  }
  .partner h3 {
    margin-bottom: 33px;
  }
  .partner-list {
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    margin: 0 auto;
    margin-bottom: 38px;
  }
  .partner-item {
    margin: 0px 20px 55px 0; 
  }
  .partner-item p {
    padding: 0px 10px;
  }

  .partner-item:nth-child(2) {
    margin-bottom: 0px;
  }
  .partner-item:nth-child(4) {
    margin-bottom: 0px;
  }
  
  .icon-glass {
    order: 2;
  }
  .icon-cup {
    order:0;
    margin-right: 0;
  }
  .icon-plane {
    margin: 0;
    order: 4;
  }
  .find-button {
    width: 225px;
  }
  .partner-button {
    width: 192px;
  }
}
@media screen and (min-width: 960px) {
  .site-header {
    background: url(../img/Back.jpg) no-repeat center;
    min-height: 700px;
  }
  .signup-block {
    width: 940px;
  }
  .partner-list {
    width: 940px;
    justify-content: space-between;
  }
  .partner-item {
    width: 220px;
    margin: 0;
  }
}